nav{
    background-color:black;
    height:30px;
    margin: 0px;
    padding-top: 10px;

}

nav a{
    color:white;
    text-decoration: none;
    padding: 5px;
}
nav a:hover
{
    color:yellowgreen;
}
body{
    background-color: blanchedalmond;
    text-align: center;
    font-size: 20px;
    
}
form{
            width: 320px;
            background-color: white;
            margin: 60px auto;
            padding: 20px;
            border-radius: 10px;
            border: 1px solid black;
            
            text-align: center;
        }

        
       input{
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid gray;
            border-radius: 5px;
            box-sizing: border-box;
        }

       
        button{
            width: 100%;
            padding: 10px;
            background-color: red;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
        }

        button:hover{
            background-color: rgb(47, 196, 47);
        }
        th
        {
            text-align: center;
            background-color: rgb(119, 61, 61);

        }
        table{
            margin:auto;
            width:70%;
        }
        tr:nth-child(even){
             text-align: center;
             background-color: lightskyblue;
        }
         tr:nth-child(odd){
             text-align: center;
             background-color: lightsalmon;
        }s